@using EventfulPeace.Application.Events.GetSingle
@model GetSingleEventDto
@{
    ViewData["Title"] = Model.Name;
}

<div class="content container my-5">
    <h1 class="text-center mb-4">Event Details</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title"><span id="event-name">@Model.Name</span></h2>
                    <h5 class="card-subtitle mb-2 text-muted">Date: <span id="event-date">@Model.OccursAt</span></h5>
                    <p class="card-text"><strong>Description: </strong> <span id="event-description">@Model.Description</span></p>

                    
                    <div class="mb-3">
                        <label for="participants-list" class="form-label"><strong>Participants:</strong></label>
                        <select class="form-select" id="participants-list" style="max-width: 250px;">
                            <option selected disabled>Participants Count: @Model.Participants.Count()</option>
                            @foreach (var participant in Model.Participants)
                            {
                                <option disabled>@participant.Name</option>
                            }
                        </select>
                    </div>

                    <p class="card-text"><strong>Creator: </strong> <span id="event-creator">@Model.Creator.Name</span></p>
                    <form asp-controller="Events" asp-action="Join" asp-route-id="@Model.Id.Value">
                        <button class="btn btn-custom mt-3">Join Event</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 d-flex align-items-center justify-content-center"> <!-- Full height & centered content -->
                <div class="card-body text-center">
                    <img src="~/@Model.Image.Path" alt="Event Image" class="img-fluid rounded" style="max-height: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Styles {
    <lin rel="stylesheet" href="~/css/event-details.css" />
}